body, html {
    margin:0;
    padding:0;
    font-family:Arial;
}
h1 {
    margin-bottom:10px;
}
#main {
    position:relative;
    width:940px;
    padding:20px;
    margin:auto;
}
#heatmapArea {
    position:relative;
    float:left;
    width:600px;
    height:400px;
    background-image:url(img/muscle-groups-front.jpg);
    background-repeat: no-repeat;
    background-position:center;
    border:1px dashed black;
}
#configArea {
    position:relative;
    float:left;
    width:260px;
    padding:20px;
}
#gen {
    margin-top:25px;
    padding:10px 20px 10px 20px;
    -moz-border-radius:15px;
    -o-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    border:2px solid black;
    cursor:pointer;
    color:white;
    background-color:black;
}
#gen:hover{
    background-color:grey;
    color:black;
}
.domain {
    fill:none;
    stroke:#000;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
